:root {
  --color-base: #333;
  --color-base-light: #666;
  --color-primary: #112a6b;
  --color-secondary: #f85b5b;

  --font-family-base: Arial, Helvetica, sans-serif;
  --font-family-primary: 'Roboto', sans-serif;

  --breakpoint-small: 700px;
  --breakpoint-medium: 900px;
  --breakpoint-large: 1100px;
}

/*
 * Custom Reset
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
 * Global
 */
body,
#__next {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

.wrapper {
  width: 100%;
  max-width: var(--breakpoint-large);
  margin: 0 auto;
  padding: 0 20px;
}

a {
  transition: all ease-in-out 0.2s;
}
